<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<title>{:L('common_web_title')}</title>

<link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layer/layer.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.cookie.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.form.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/my97dp/{$Language}_WdatePicker.js" language="javascript" type="text/javascript"></script>
	<if condition="$default_map_dj == 2 ">
		<script src="https://maps.googleapis.com/maps/api/js?key={:C('GOOGLE_AK')}" async defer></script>
		<else />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={:C('BAIDU_AK')}"></script>
	</if>
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/jsAddress/jsAddress.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
	//autoWindow();
	getWeather();
	dropAlertBox();
	uploadIfy();
	initArea();
	initEvent();
	initValue();

	$('#disease_other_text').change('click', function(){
		if($('#disease_other_text').val()==''){
			$('#disease_other').attr('value','');
		}else{
			$('#disease_other').attr('value','-'+$('#disease_other_text').val());
		}
	});
	
	$('#frmUserAdd').submit(function() {
        closePopupBox();
        return false;
    });
});
$(window).resize(function() {
	//autoWindow();	
});
function closePopupBox(){
	//$('#popup_window_content').html("&nbsp;");
	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.close(index);
}
function chkFrmSearch(){
	if($('#keyword').val()==''){
		return false;
	}
	return true;
}
function uploadIfy(){
	$('#flie_upload').uploadify({
        'swf'      : '__PUBLIC__/uploadify/uploadify.swf',
        'uploader' : '{:U("Index/uploadify")}',
        'buttonText' : '. . .',
		'width' : 80,
		'height': 20,
        'onUploadSuccess' : function(file, data, response) {
			var dataObj=eval("("+data+")");//转换为json对象
			if(dataObj.error==1){
				alert(dataObj.info);
			}else{
				$('#photo_show').attr('src','{:C("UPLOAD_DIR")}'+dataObj.info.Filedata.savename);
				$('#photo_src').attr('value','{:C("UPLOAD_DIR")}'+dataObj.info.Filedata.savename);
				//alert(dataObj.info.Filedata.savename);
			}
        }
    });
}
function initArea(){
	addressInit('address1', 'address2', 'address3', '{$agedinfo["address"][0]|default=""}', '{$agedinfo["address"][1]|default=""}', '{$agedinfo["address"][2]|default=""}');
}
function initValue(){
	$('#photo_show').attr('src','{$agedinfo.photo_src|default="__PUBLIC__/images/temp_icon.png"}');
	$('#photo_src').val('{$agedinfo.photo_src}');

	$('#elderly_name').val('{$agedinfo.elderly_name}');
	$('#nick_name').val('{$agedinfo.nick_name}');
	$('#sex').val('{$agedinfo.sex}');
	$('#barthday').val('{$agedinfo.barthday|toDate=###,"Y-m-d"}');
	$('#height').val('{$agedinfo.height}');
	$('#weight').val('{$agedinfo.weight}');
	//$('#address1').val('{$agedinfo["address"][0]}');
	//$('#address2').val('{$agedinfo["address"][1]}');
	//$('#address3').val('{$agedinfo["address"][2]}');
	$('#address4').val('{$agedinfo["address"][3]}');
	$('#home_tel').val('{$agedinfo.home_tel}');
	$('#phone').val('{$agedinfo.phone}');
	$('#monitor_info_1_name').val('{$agedinfo["monitor_info"][0]["name"]}');
	$('#monitor_info_1_phone').val('{$agedinfo["monitor_info"][0]["phone"]}');
	$('#monitor_info_1_address').val('{$agedinfo["monitor_info"][0]["address"]}');
	$('#monitor_info_2_name').val('{$agedinfo["monitor_info"][1]["name"]}');
	$('#monitor_info_2_phone').val('{$agedinfo["monitor_info"][1]["phone"]}');
	$('#monitor_info_2_address').val('{$agedinfo["monitor_info"][1]["address"]}');
	$('#monitor_info_3_name').val('{$agedinfo["monitor_info"][2]["name"]}');
	$('#monitor_info_3_phone').val('{$agedinfo["monitor_info"][2]["phone"]}');
	$('#monitor_info_3_address').val('{$agedinfo["monitor_info"][2]["address"]}');
	$('#sales_id').val('{$agedinfo.sales_id}');    $('#sales_id').attr('disabled','disabled');
	$('#sim').val('****{$agedinfo.sim|substr=###,7}');    $('#sim').attr('disabled','disabled');
	$('#device_sn').val('****{$agedinfo.device_sn|substr=###,4}');    $('#device_sn').attr('disabled','disabled');
	$('#device_auth_code').val('{$agedinfo.device_auth_code}');    $('#device_auth_code').attr('disabled','disabled');
	$('#device_model').val('{$agedinfo.device_model}');    $('#device_model').attr('disabled','disabled');
	$('#register_date').val('{$agedinfo.register_date|toDate=###,"Y-m-d"}');    $('#register_date').attr('disabled','disabled');
	$('#termination_date').val('{$agedinfo.termination_date|toDate=###,"Y-m-d"}');
	$('#service_period').val('{$agedinfo.service_period}');

	$('#use_area_str1').val('{$agedinfo["use_area_str"][0]}');
	$('#use_area_str2').val('{$agedinfo["use_area_str"][1]}');
	$('#device_set4_NO1').val('{$agedinfo["device_set4"]["NO1"]}');
	$('#device_set4_NO2').val('{$agedinfo["device_set4"]["NO2"]}');

	$('#device_set2').val('{$agedinfo["device_set2"]}');

	$('#device_set7_time1').val('{$agedinfo["device_set7"]["TIME1"]}');
	$('#device_set7_time2').val('{$agedinfo["device_set7"]["TIME2"]}');
	$('#device_set7_time3').val('{$agedinfo["device_set7"]["TIME3"]}');
	$('#device_set7_default_flg').val('{$agedinfo["device_set7"]["default_flg"]}');

	$('#device_set8_time1').val('{$agedinfo["device_set8"]["TIME1"]|toDate=###,"H:i"}');
	$('#device_set8_time2').val('{$agedinfo["device_set8"]["TIME2"]|toDate=###,"H:i"}');
	$('#device_set8_time3').val('{$agedinfo["device_set8"]["TIME3"]|toDate=###,"H:i"}');
	$('#device_set8_default_flg').val('{$agedinfo["device_set8"]["default_flg"]}');

	$('#device_set9_time1').val('{$agedinfo["device_set9"]["TIME1"]}');
	$('#device_set9_time2').val('{$agedinfo["device_set9"]["TIME2"]}');
	$('#device_set9_time3').val('{$agedinfo["device_set9"]["TIME3"]}');
	$('#device_set9_default_flg').val('{$agedinfo["device_set9"]["default_flg"]}');

	$('#device_set10_low_t').val('{$agedinfo["device_set10"]["LOW_T"]}');
	$('#device_set10_hight_t').val('{$agedinfo["device_set10"]["HIGHT_T"]}');
	$('#device_set10_method').val('{$agedinfo["device_set10"]["METHOD"]}');
	$('#device_set10_default_flg').val('{$agedinfo["device_set10"]["default_flg"]}');

    $('#device_set14_time1').val('{$agedinfo["device_set14"]["TIME1"]}');
    $('#device_set14_time2').val('{$agedinfo["device_set14"]["TIME2"]}');
    $('#device_set14_time3').val('{$agedinfo["device_set14"]["TIME3"]}');
    $('#device_set14_default_flg').val('{$agedinfo["device_set14"]["default_flg"]}');

	if('{$agedinfo["device_set15"]["arg1"]}'=='on')$('#device_set15_arg1').attr('checked',true);
	else $('#device_set15_arg1').attr('checked',false);
    $('#device_set15_default_flg').val('{$agedinfo["device_set15"]["default_flg"]}');
	$('#device_set3_day').val('{$agedinfo["device_set3"]["day"]}');
	$('#device_set3_default_flg').val('{$agedinfo["device_set3"]["default_flg"]}');
	
	
}

function showPopupBoxCommon(box_no,flg){
	if(box_no!=2) $('#device_set'+box_no+'_box').css('display','');
	switch(flg){
		case 'default':
			$('.device_set'+box_no).removeClass('txtbox1').removeClass('txtbox2');
			$('#device_set'+box_no+'_default').addClass('txtbox1');
			$('#device_set'+box_no+'_diy_setting').addClass('txtbox2');
			if(box_no!=2){
				$('#device_set'+box_no+'_box').css('left','10px');
				$('#device_set'+box_no+'_default_flg').val('Y');
				initDeviceSet(box_no);
			}else $('#device_set'+box_no).val(1);
		break;
		case 'diy_setting':
			$('.device_set'+box_no).removeClass('txtbox1').removeClass('txtbox2');
			$('#device_set'+box_no+'_default').addClass('txtbox2');
			$('#device_set'+box_no+'_diy_setting').addClass('txtbox1');
			if(box_no!=2){
				$('#device_set'+box_no+'_box').css('left','210px');
				$('#device_set'+box_no+'_default_flg').val('N');
			}else $('#device_set'+box_no).val(0);
		break;
	}
}
function closePopupBoxCommon(box_no){
	$('#device_set'+box_no+'_box').css('display','none');
}
function initDeviceSet(box_no){
	switch(box_no){
		case '1':
		break;
		case '2':
		break;
		case '3':
			$('#device_set'+box_no+'_day').val('{$varinfo["device_set3"]["day"]}');
		break;
		case '4':

		break;
		case '5':

		break;
		case '6':

		break;
		case '7':
			$('#device_set'+box_no+'_time1').val('{$varinfo["device_set7"]["TIME1"]}');
			$('#device_set'+box_no+'_time2').val('{$varinfo["device_set7"]["TIME2"]}');
			$('#device_set'+box_no+'_time3').val('{$varinfo["device_set7"]["TIME3"]}');
		break;
		case '8':
			$('#device_set'+box_no+'_time1').val('{$varinfo["device_set8"]["TIME1"]|toDate=###,"H:i"}');
			$('#device_set'+box_no+'_time2').val('{$varinfo["device_set8"]["TIME2"]|toDate=###,"H:i"}');
			$('#device_set'+box_no+'_time3').val('{$varinfo["device_set8"]["TIME3"]|toDate=###,"H:i"}');
		break;
		case '9':
			$('#device_set'+box_no+'_time1').val('{$varinfo["device_set9"]["TIME1"]}');
			$('#device_set'+box_no+'_time2').val('{$varinfo["device_set9"]["TIME2"]}');
			$('#device_set'+box_no+'_time3').val('{$varinfo["device_set9"]["TIME3"]}');
		break;
		case '10':
			$('#device_set'+box_no+'_low_t').val('{$varinfo["device_set10"]["LOW_T"]}');
			$('#device_set'+box_no+'_hight_t').val('{$varinfo["device_set10"]["HIGHT_T"]}');
			$('#device_set'+box_no+'_method').val('{$varinfo["device_set10"]["METHOD"]}');
		break;
		case '11':

		break;
		case '12':

		break;
		case '13':

		break;
		case '14':
			$('#device_set'+box_no+'_time1').val('{$varinfo["device_set14"]["TIME1"]}');
			$('#device_set'+box_no+'_time2').val('{$varinfo["device_set14"]["TIME2"]}');
			$('#device_set'+box_no+'_time3').val('{$varinfo["device_set14"]["TIME3"]}');
		break;
		case '15':
			if('{$varinfo["device_set15"]["arg1"]|default="off"}'=='on'){$('#device_set15_arg1').attr('checked',true);}else{$('#device_set15_arg1').attr('checked',false);}
		break;
	}
}
function initEvent(){
	$('#device_set1_arg5').change(function(){calcServiceAmount(1,5);});		
	$('#device_set2_arg5').change(function(){calcServiceAmount(2,5);});
	$('#device_set1_arg6').change(function(){calcServiceAmount(1,6);});		
	$('#device_set2_arg6').change(function(){calcServiceAmount(2,6);});
	$('#device_set1_arg7').change(function(){calcServiceAmount(1,7);});		
	$('#device_set2_arg7').change(function(){calcServiceAmount(2,7);});
	$('#device_set1_arg8').change(function(){calcServiceAmount(1,8);});		
	$('#device_set2_arg8').change(function(){calcServiceAmount(2,8);});
	$('#device_set1_arg9').change(function(){calcServiceAmount(1,9);});		
	$('#device_set2_arg9').change(function(){calcServiceAmount(2,9);});
	$('#device_model').change(function(){
		if($(this).val()=='APT158'){
			$('.device_temp').css('display','none');			
		}else if($(this).val()=='APT230'){
			$('.device_temp').css('display','none');			
                }else if($(this).val()=='APT620'){
                        $('.device_temp').css('display','none');
		}else{
			$('.device_temp').css('display','');			
		}
	});
	$('#service_period').change(function(){calc_termination_date();});
	
	$("#device_sn").blur(function(){
		if($("#device_sn").val()==''){}else{
			$.post("{:U('Customermanager/check_device_sn')}",{sn:$("#device_sn").val()},function(returnData){
				if(returnData.error>0){
					alert('{:L("alert_sn_no_exists")}');
					$("#device_sn").attr('value','');
				}
			});
		}
	});
	
}
function calc_termination_date(){
	var register_date = $('#register_date').val();
	var service_period = $('#service_period').val();
	if(register_date=='' || service_period=='') return false;
	$('#termination_date').attr('value',DateAdd('y',service_period,new Date(register_date)));
}
function resetServiceAmount(set_no,args_no){
	//alert('resetServiceAmount__'+set_no+'__'+args_no);
	alert($('#device_set'+set_no+'_arg'+args_no).is(':checked'));
	$('#device_set'+set_no+'_arg'+args_no+'_time1').attr('value','');
	$('#device_set'+set_no+'_arg'+args_no+'_time2').attr('value','');
	$('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value','');
	//alert($('#device_set'+set_no+'_arg'+args_no+'_amount').val());
}
function calcServiceAmount(set_no,args_no){
	var smsDayAmount={$varinfo["service_price"]["sms"]}; //每天的单价
	var callDayAmount={$varinfo["service_price"]["call"]}; //每天的单价
	if(isNaN(smsDayAmount)){smsDayAmount=0;}
	if(isNaN(callDayAmount)){callDayAmount=0;}
	//alert($('#device_set'+set_no+'_arg'+args_no).is(':checked'));
	if(!$('#device_set'+set_no+'_arg'+args_no).is(':checked')){
		$('#device_set'+set_no+'_arg'+args_no+'_time1').attr('value','');
		$('#device_set'+set_no+'_arg'+args_no+'_time2').attr('value','');
		$('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value','');
		return false;
	}
	var time1=$('#device_set'+set_no+'_arg'+args_no+'_time1').attr('value');
	var time2=$('#device_set'+set_no+'_arg'+args_no+'_time2').attr('value');
	if(time1=='' || time2==''){
		$('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value','0');
		return false;
	}
	time1=new Date(time1);
	time2=new Date(time2);
	if(time2<time1){
		$('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value','0');
		return false;
	}
	var days = time2.diff(time1);
	if(set_no=='1') $('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value',smsDayAmount*(1+days));
	if(set_no=='2') $('#device_set'+set_no+'_arg'+args_no+'_amount').attr('value',callDayAmount*(1+days));
}
function change_DeviceSet_Ext(set_no,show){
	if(show){
		$('.device_set'+set_no+'_ext').css('display','');
	}else{
		$('.device_set'+set_no+'_ext').css('display','none');
	}
}
function chkFrmUserAdd(){
	/*
	if($('#elderly_name').val()==''){alert('姓名？');return false;}
	if($('#nick_name').val()==''){alert('昵称？');return false;}
	if($('#birthday').val()==''){alert('生日？');return false;}
	if($('#height').val()==''){alert('身高？');return false;}
	if($('#weight').val()==''){alert('体重？');return false;}
	if($('#address1').val()==''){alert('省？');return false;}
	if($('#address2').val()==''){alert('市、县？');return false;}
	if($('#address3').val()==''){alert('区？');return false;}
	if($('#address4').val()==''){alert('详细地址？');return false;}
	if($('#home_tel').val()==''){alert('家庭电话？');return false;}
	if($('#phone').val()==''){alert('手机？');return false;}
	if($('#sim').val()==''){alert('SIM？');return false;}
	if($('#device_sn').val()==''){alert('设备SN？');return false;}
	if($('#device_auth_code').val()==''){alert('设备认证码？');return false;}
	if($('#register_date').val()==''){alert('激活日期？');return false;}
	if($('#termination_date').val()==''){alert('服务到期日期？');return false;}
	if($('#use_area_str1').val()==''){alert('使用国家？');return false;}
	if($('#use_area_str2').val()==''){alert('使用城市？');return false;}
	*/
	if($('#disease_other_text').val()==''){
		$('#disease_other').attr('value','');
	}else{
		$('#disease_other').attr('value','-'+$('#disease_other_text').val());
	}
	
	return true;
}
var beaconID={$agedinfo['count']};
function addBeacon() {
	var str=[];
	str.push('<div class="showlist" id="beacons'+beaconID+'_box">');
	str.push('<div style="float: left; padding-left:4px;">');
	str.push('{:L("lb_form_beacom_title")}&nbsp;&nbsp;<input name="beacons['+beaconID+'][beaconID]" type="text"  id="beacons_beaconID'+beaconID+'" size="6" maxlength="8" />');
	str.push('</div><div style="float: left; padding-left:4px;">');
	str.push('{:L("lb_form_beacom_name")}&nbsp;&nbsp;<input name="beacons['+beaconID+'][name]" type="text"  id="beacons_name'+beaconID+'" size="8" />');
	str.push('</div><div style="float: left; padding-left:4px;">');
	str.push('{:L("lb_form_beacom_address")}&nbsp;&nbsp;');
	str.push('<input type="text" id="beacons_address'+beaconID+'" style="vertical-align:middle;" name="beacons['+beaconID+'][address]" size="15" />');
	str.push('<img src="__PUBLIC__/images/location_icon.png" style="vertical-align:middle;" onclick="getPoint('+beaconID+')" width="20" alt="">');
	str.push('</div><div style="float: left; padding-left:4px;">');
	str.push('{:L("lb_form_beacom_lat")}&nbsp;&nbsp;');
	str.push('<input type="text" id="beacons_lat'+beaconID+'" name="beacons['+beaconID+'][lat]" size="6" readonly="readonly" />');
	str.push('</div><div style="float: left; padding-left:4px; vertical-align:middle;">');
	str.push('{:L("lb_form_beacom_lon")}&nbsp;&nbsp;');
	str.push('<input type="text" id="beacons_lon'+beaconID+'" name="beacons['+beaconID+'][lon]" size="6" readonly="readonly" />');
	str.push('</div><div style="float: right; width:60px;">');
	str.push('<a class="add" style="height:20px;font-size: 12px;font-weight:200;line-height:20px;" href="javascript:delBeacon(\'beacons'+beaconID+'\');">{:L("lb_form_beacom_btn")}</a>');
	str.push('</div></div>');
	$('#beacons').append(str.join(''));
	beaconID++;
}
function delBeacon(tagid){
	$('#'+tagid+'_box').remove();
}
</script>
<include file="Public:commjs" />
</head>

<body scroll="no">

<form id="frmUserAdd" method="post" action="{:U('Customermanager/useredit_save')}">
<div id="popup_window" class="popup_window" style="top:auto;bottom:1px;">
	<div id="popup_window_title" class="popup_window_title2"></div>
	<div id="popup_window_content" class="popup_window_content">
		<div class="data_edit_box">
			<div class="data_edit_box_1">
				<div id="data_edit_tab_1" class="data_edit_tab data_edit_box_tab_hover"><a href="javascript:void(0);" onclick="javascript:data_tab_switch(2,1);">{:L("lb_title_tab1")}</a></div>
				<div id="data_edit_tab_2" class="data_edit_tab data_edit_box_tab"><a href="javascript:void(0);" onclick="javascript:data_tab_switch(2,2);">{:L("lb_title_tab2")}</a></div>
				<div id="data_edit_tab_3" class="data_edit_tab data_edit_box_tab"><a href="javascript:void(0);" onclick="javascript:data_tab_switch(3,3);">{:L("lb_title_tab3")}</a></div>
			</div>
			<div class="data_edit_box_2 form_table" style="min-height:450px;">
				<div id="data_edit_content_1" class="data_edit_content" style="display:;">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
						<tr>
							<td width="100" align="center" valign="top">
								<div class="avatar_box" style="border:1px solid #eeeeee;width:80px;height:80px;margin:5px;overflow:hidden;">
									<img id="photo_show" src="__PUBLIC__/images/temp_icon.png" style="width:80px;height:80px;" />
									<input type="hidden" id="photo_src" name="photo_src" />
									<div class="upload_avatar" style="margin:-20px 0px 0px 0px;text-align:center;"><input id="flie_upload" name="flie_upload" type="file" multiple="true" value="" /></div>									
								</div>
							</td>
							<td>
								<div style="height:25px;line-height:25px;margin:1px;"><b>{:L("lb_form_baseinfo")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="60">{:L("lb_form_elderly_name")}</td>
										<td width="250"><input type="text" id="elderly_name" name="elderly_name" /></td>
										<td width="60">{:L("lb_form_nick_name")}</td>
										<td>
											<input type="text" id="nick_name" name="nick_name" />
											<input type="hidden" id="type" name="type" value="{$agedinfo.type}" />
											<input type="hidden" id="monitor_id" name="monitor_id" value="{$agedinfo.monitor_id}" />
											<input type="hidden" id="care_star" name="care_star" value="{$agedinfo.care_star}" />
											<input type="hidden" id="idcard" name="idcard" value="{$agedinfo.idcard}" />
											<input type="hidden" id="use_area_id" name="use_area_id" value="{$agedinfo.use_area_id}" />
											<input type="hidden" id="elderly_code" name="elderly_code" value="{$agedinfo.elderly_code}" />
											<input type="hidden" id="id" name="id" value="{$agedinfo.id}" />
										</td>
									</tr>
									<tr>
										<td>{:L("lb_form_sex")}</td>
										<td><select id="sex" name="sex" class=""><option value="1">{:L("lb_form_sex1")}</option><option value="0">{:L("lb_form_sex0")}</option></select></td>
										<td>{:L("lb_form_barthday")}</td>
										<td><input type="text" id="barthday" name="barthday" class="Wdate" onClick="WdatePicker()" /></td>
									</tr>
									<tr>
										<td>{:L("lb_form_height")}</td>
										<td><input type="text" id="height" name="height" /></td>
										<td>{:L("lb_form_weight")}</td>
										<td><input type="text" id="weight" name="weight" /></td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:10px 1px 1px 1px;"><b>{:L("lb_form_personinfo")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="60">{:L("lb_form_address")}</td>
										<td colspan="3">
											<select id="address1" name="address[]" class=""><option value=""></option></select>
											<select id="address2" name="address[]" class=""><option value=""></option></select>
											<select id="address3" name="address[]" class=""><option value=""></option></select>
											<input type="text" id="address4" name="address[]" />
										</td>
									</tr>
									<tr>
										<td>{:L("lb_form_home_tel")}</td>
										<td width="250"><input type="text" id="home_tel" name="home_tel" /></td>
										<td width="60">{:L("lb_form_phone")}</td>
										<td><input type="text" id="phone" name="phone" /></td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:10px 1px 1px 1px;"><b>{:L("lb_form_monitor_info")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="60">{:L("lb_form_monitor_info")}1</td>
										<td>
											{:L("lb_form_monitor_info_name")}<input type="text" id="monitor_info_1_name" name="monitor_info[0][name]" />
											{:L("lb_form_monitor_info_phone")}<input type="text" id="monitor_info_1_phone" name="monitor_info[0][phone]" />
											{:L("lb_form_monitor_info_address")}<input type="text" id="monitor_info_1_address" name="monitor_info[0][address]" />
										</td>
									</tr>
									<tr>
										<td width="60">{:L("lb_form_monitor_info")}2</td>
										<td>
											{:L("lb_form_monitor_info_name")}<input type="text" id="monitor_info_2_name" name="monitor_info[1][name]" />
											{:L("lb_form_monitor_info_phone")}<input type="text" id="monitor_info_2_phone" name="monitor_info[1][phone]" />
											{:L("lb_form_monitor_info_address")}<input type="text" id="monitor_info_2_address" name="monitor_info[1][address]" />
										</td>
									</tr>
									<tr>
										<td width="60">{:L("lb_form_monitor_info")}3</td>
										<td>
											{:L("lb_form_monitor_info_name")}<input type="text" id="monitor_info_3_name" name="monitor_info[2][name]" />
											{:L("lb_form_monitor_info_phone")}<input type="text" id="monitor_info_3_phone" name="monitor_info[2][phone]" />
											{:L("lb_form_monitor_info_address")}<input type="text" id="monitor_info_3_address" name="monitor_info[2][address]" />
										</td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:10px 1px 1px 1px;"><b>{:L("lb_form_disease")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td>
											<php>foreach($disease as $val){</php>
											<div class="float_left" style="width:24%;">
											<input type="checkbox" name="disease[]" value="{$val}" <php>if(in_array($val,$agedinfo['disease'])){echo 'checked';}</php> />{$val}
											</div>
											<php>}</php>
											<div class="float_left" style="width:24%;">
											<input type="checkbox" id="disease_other" name="disease[]" value="其他" <php>if( count($agedinfo['disease2'])>1 ){echo 'checked';}</php> />其他
											<input type="text" id="disease_other_text" name="disease_other_text" value="<php>if( count($agedinfo['disease2'])>1 ){echo ($agedinfo['disease2'][1]);}</php>" />
											</div>
										</td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:10px 1px 1px 1px;"><b></b></div>
							</td>
						</tr>
					</table>
				</div>
				<div id="data_edit_content_2" class="data_edit_content" style="display:none;padding-left:15px;">
								
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="60"><b>{:L("lb_form_sales_id")}</b></td>
										<td width="200"><select id="sales_id" name="sales_id">
										<volist id="vo" name="sales_list">
										<option value="{$vo.id}">{$vo.true_name}</option>
										</volist>
										</select></td>
										<td width="60">{:L("lb_emergency_call_no")}1</td>
										<td width="200"><input type="text" id="device_set4_NO1" name="device_set4[NO1]" value="" /></td>
										<td width="60">{:L("lb_emergency_call_no")}2</td>
										<td><input type="text" id="device_set4_NO2" name="device_set4[NO2]" value="" />
											<!-- <input type="hidden" id="type" name="device_set1" value="N" />--><!-- device_set1 SMS服务 -->
											<!-- <input type="hidden" id="type" name="device_set2" value="N" />--><!-- device_set2 CALL服务 -->
											<!-- <input type="hidden" id="type" name="device_set3" value="7" />--><!-- device_set3 轨迹保存天数 -->
											<!--xxxxxxxxxx-->
											<!--<input type="hidden" id="type" name="device_set4" value="" />--><!-- device_set4 系统设置-紧急呼叫中心号码设置 -->
											<!--<input type="hidden" id="type" name="device_set5" value="" />--><!-- device_set5 系统设置-设置端口号码 -->
											<!--<input type="hidden" id="type" name="device_set6" value="" />--><!-- device_set6 系统设置-设置 URL -->
											<!--xxxxxxxxxxx-->
											<!-- <input type="hidden" id="type" name="device_set7" value="" />--><!-- device_set7 系统设置-GPS发送周期设置 -->
											<!-- <input type="hidden" id="type" name="device_set8" value="" />--><!-- device_set8 系统设置-操作周期设置 -->
											<!-- <input type="hidden" id="type" name="device_set9" value="" />--><!-- device_set9 温度获取时间间隔设置 -->
											<!-- <input type="hidden" id="type" name="device_set10" value="" />--><!-- device_set10 健康管理功能设置 -->
											<!--wwwwwwwww-->
											<!--<input type="hidden" id="type" name="device_set11" value="" />--><!-- device_set11 系统设置-设置电话回答使能 -->
											<!--<input type="hidden" id="type" name="device_set12" value="" />--><!-- device_set12 系统设置-设置个人信息(性别(0 : Male, 1 : Female)、身高、体重) -->
											<!--<input type="hidden" id="type" name="device_set13" value="" />--><!-- device_set13 系统设置-跟踪周期设置 -->
											<!--wwwwwwwwwww-->
										</td>
									</tr>
									<tr>
										<td width="60">{:L("lb_form_sim")}</td>
										<td width="200"><input type="text" id="sim" name="sim" /></td>
										<td width="60">{:L("lb_form_device_sn")}</td>
										<td width="200"><input type="text" id="device_sn" name="device_sn" /></td>
										<td width="60">{:L("lb_form_device_auth_code")}</td>
										<td><input type="text" id="device_auth_code" name="device_auth_code" readonly="readonly" /></td>
									</tr>
									<tr>
										<td width="60">{:L("lb_form_device_model")}</td>
										<td width="200">
											<select id="device_model" name="device_model">
											<option value="APT158">APT158</option>
											<option value="APT230">APT230</option>
											<option value="APT620">APT620</option>											
											</select></td>
										<td width="60">{:L("lb_form_register_date")}</td>
										<td width="200"><input type="text" id="register_date" name="register_date" class="Wdate" onClick="WdatePicker({onpicked:function(){calc_termination_date();}})" /></td>
										<td width="60">{:L("lb_form_termination_date")}</td>
										<td><input type="text" id="termination_date" name="termination_date" readonly="readonly" /></td>
									</tr>
									<tr>
										<td width="60">{:L("lb_form_use_area_str1")}</td>
										<td width="200"><select id="use_area_str1" name="use_area_str[]"><option value="Korea">Korea</option></select></td>
										<td width="60">{:L("lb_form_use_area_str2")}</td>
										<td width="200"><input type="text" id="use_area_str2" name="use_area_str[]" /></td>
										<td width="60">{:L("lb_form_service_period")}</td>
										<td><select id="service_period" name="service_period"><option value="0">{:L("lb_form_service_period_none")}</option><option value="1">1{:L("lb_form_service_period_year")}</option><option value="2">2{:L("lb_form_service_period_year")}</option><option value="3">3{:L("lb_form_service_period_year")}</option><option value="4">4{:L("lb_form_service_period_year")}</option><option value="5">5{:L("lb_form_service_period_year")}</option></select></td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:1px;"><b>{:L("lb_form_device_setting")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="25%">{:L("lb_form_device_set7_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set7']['default_flg'] eq 'Y')">txtbox1<else />txtbox2</if> device_set7" id="device_set7_default" name="device_set7_default" value="{:L('lb_form_default_setting')}" onClick="javascript:showPopupBoxCommon('7','default');" />
											<input type="button" class="<if condition="($agedinfo['device_set7']['default_flg'] eq 'Y')">txtbox2<else />txtbox1</if> device_set7 margin_left50" id="device_set7_diy_setting" name="device_set7_diy_setting" value="{:L('lb_form_diy_setting')}" onClick="javascript:showPopupBoxCommon('7','diy_setting');" />
											<!-- *******popup box device set ***********start****** -->
											<div id="device_set7_box" class="popup_box_comm" style="width:300px;display:none;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
												<tr>
													<td class="" style="width:20px;">&nbsp;</td>
													<td class="" style="width:60px;">&nbsp;</td>
													<td class="">&nbsp;</td>
													<td class="" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_1" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_1m">----------&nbsp;</td>
													<td class="popup_box_comm_1r" style="width:20px;"><a href="javascript:void(0);" onclick="javascript:closePopupBoxCommon('7');">√&nbsp;&nbsp;</a></td>
												</tr>
												<tr>
													<td class="popup_box_comm_2" style="width:20px;">&nbsp;</td>
													<td class="popup_box_comm_2m" colspan="2">
														<div>{:L("lb_form_device_set7_time1")}：<input type="text" id="device_set7_time1" name="device_set7[TIME1]" />{:L("lb_form_device_set7_minute")}</div>
														<div>{:L("lb_form_device_set7_time2")}：<input type="text" id="device_set7_time2" name="device_set7[TIME2]" />{:L("lb_form_device_set7_minute")}</div>
														<div>{:L("lb_form_device_set7_time3")}：<input type="text" id="device_set7_time3" name="device_set7[TIME3]" />{:L("lb_form_device_set7_minute")}</div>
														<input type="hidden" id="device_set7_default_flg" name="device_set7[default_flg]" value="Y" />
													</td>
													<td class="popup_box_comm_2r" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_3" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_3m">----------&nbsp;</td>
													<td class="popup_box_comm_3r" style="width:20px;">&nbsp;</td>
												</tr>
												</table>
											</div>
											<!-- *******popup box device set ***********end****** -->
										</td>
										<td width="25%">&nbsp;</td>
									</tr>
									<tr>
										<td width="25%">{:L("lb_form_device_set8_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set8']['default_flg'] eq 'Y')">txtbox1<else />txtbox2</if> device_set8" id="device_set8_default" name="device_set8_default" value="{:L('lb_form_default_setting')}" onClick="javascript:showPopupBoxCommon('8','default');" />
											<input type="button" class="<if condition="($agedinfo['device_set8']['default_flg'] eq 'Y')">txtbox2<else />txtbox1</if> device_set8 margin_left50" id="device_set8_diy_setting" name="device_set8_diy_setting" value="{:L('lb_form_diy_setting')}" onClick="javascript:showPopupBoxCommon('8','diy_setting');" />
											<!-- *******popup box device set ***********start****** -->
											<div id="device_set8_box" class="popup_box_comm" style="width:300px;display:none;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
												<tr>
													<td class="" style="width:20px;">&nbsp;</td>
													<td class="" style="width:60px;">&nbsp;</td>
													<td class="">&nbsp;</td>
													<td class="" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_1" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_1m">----------&nbsp;</td>
													<td class="popup_box_comm_1r" style="width:20px;"><a href="javascript:void(0);" onclick="javascript:closePopupBoxCommon('8');">√&nbsp;&nbsp;</a></td>
												</tr>
												<tr>
													<td class="popup_box_comm_2" style="width:20px;">&nbsp;</td>
													<td class="popup_box_comm_2m" colspan="2">
														<div>{:L("lb_form_device_set8_time1")}：<input type="text" id="device_set8_time1" name="device_set8[TIME1]" /></div>
														<div>{:L("lb_form_device_set8_time2")}：<input type="text" id="device_set8_time2" name="device_set8[TIME2]" /></div>
														<div>{:L("lb_form_device_set8_time3")}：<input type="text" id="device_set8_time3" name="device_set8[TIME3]" /></div>
														<input type="hidden" id="device_set8_default_flg" name="device_set8[default_flg]" value="Y" />
													</td>
													<td class="popup_box_comm_2r" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_3" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_3m">----------&nbsp;</td>
													<td class="popup_box_comm_3r" style="width:20px;">&nbsp;</td>
												</tr>
												</table>
											</div>
											<!-- *******popup box device set ***********end****** -->
										</td>
										<td width="25%">&nbsp;</td>
									</tr>
									<tr class="device_temp">
										<td width="25%">{:L("lb_form_device_set9_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set9']['default_flg'] eq 'Y')">txtbox1<else />txtbox2</if> device_set9" id="device_set9_default" name="device_set9_default" value="{:L('lb_form_default_setting')}" onClick="javascript:showPopupBoxCommon('9','default');" />
											<input type="button" class="<if condition="($agedinfo['device_set9']['default_flg'] eq 'Y')">txtbox2<else />txtbox1</if> device_set9 margin_left50" id="device_set9_diy_setting" name="device_set9_diy_setting" value="{:L('lb_form_diy_setting')}" onClick="javascript:showPopupBoxCommon('9','diy_setting');" />
											<!-- *******popup box device set ***********start****** -->
											<div id="device_set9_box" class="popup_box_comm" style="width:300px;display:none;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
												<tr>
													<td class="" style="width:20px;">&nbsp;</td>
													<td class="" style="width:60px;">&nbsp;</td>
													<td class="">&nbsp;</td>
													<td class="" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_1" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_1m">----------&nbsp;</td>
													<td class="popup_box_comm_1r" style="width:20px;"><a href="javascript:void(0);" onclick="javascript:closePopupBoxCommon('9');">√&nbsp;&nbsp;</a></td>
												</tr>
												<tr>
													<td class="popup_box_comm_2" style="width:20px;">&nbsp;</td>
													<td class="popup_box_comm_2m" colspan="2">
														<div>{:L("lb_form_device_set9_time1")}：<input type="text" id="device_set9_time1" name="device_set9[TIME1]" />{:L("lb_form_device_set9_minute")}</div>
														<div>{:L("lb_form_device_set9_time2")}：<input type="text" id="device_set9_time2" name="device_set9[TIME2]" />{:L("lb_form_device_set9_minute")}</div>
														<div>{:L("lb_form_device_set9_time3")}：<input type="text" id="device_set9_time3" name="device_set9[TIME3]" />{:L("lb_form_device_set9_minute")}</div>
														<input type="hidden" id="device_set9_default_flg" name="device_set9[default_flg]" value="Y" />
													</td>
													<td class="popup_box_comm_2r" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_3" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_3m">----------&nbsp;</td>
													<td class="popup_box_comm_3r" style="width:20px;">&nbsp;</td>
												</tr>
												</table>
											</div>
											<!-- *******popup box device set ***********end****** -->
										</td>
										<td width="25%">&nbsp;</td>
									</tr>
									<tr class="device_temp">
										<td width="25%">{:L("lb_form_device_set10_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set10']['default_flg'] eq 'Y')">txtbox1<else />txtbox2</if> device_set10" id="device_set10_default" name="device_set10_default" value="{:L('lb_form_default_setting')}" onClick="javascript:showPopupBoxCommon('10','default');" />
											<input type="button" class="<if condition="($agedinfo['device_set10']['default_flg'] eq 'Y')">txtbox2<else />txtbox1</if> device_set10 margin_left50" id="device_set10_diy_setting" name="device_set10_diy_setting" value="{:L('lb_form_diy_setting')}" onClick="javascript:showPopupBoxCommon('10','diy_setting');" />
											<!-- *******popup box device set ***********start****** -->
											<div id="device_set10_box" class="popup_box_comm" style="width:300px;display:none;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
												<tr>
													<td class="" style="width:20px;">&nbsp;</td>
													<td class="" style="width:60px;">&nbsp;</td>
													<td class="">&nbsp;</td>
													<td class="" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_1" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_1m">----------&nbsp;</td>
													<td class="popup_box_comm_1r" style="width:20px;"><a href="javascript:void(0);" onclick="javascript:closePopupBoxCommon('10');">√&nbsp;&nbsp;</a></td>
												</tr>
												<tr>
													<td class="popup_box_comm_2" style="width:20px;">&nbsp;</td>
													<td class="popup_box_comm_2m" colspan="2">
														<div>{:L("lb_form_device_set10_t1")}：<input type="text" id="device_set10_low_t" name="device_set10[LOW_T]" /></div>
														<div>{:L("lb_form_device_set10_t2")}：<input type="text" id="device_set10_hight_t" name="device_set10[HIGHT_T]" /></div>
														<div>{:L("lb_form_device_set10_t3")}：<input type="text" id="device_set10_method" name="device_set10[METHOD]" /></div>
														<input type="hidden" id="device_set10_default_flg" name="device_set10[default_flg]" value="Y" />
													</td>
													<td class="popup_box_comm_2r" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_3" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_3m">----------&nbsp;</td>
													<td class="popup_box_comm_3r" style="width:20px;">&nbsp;</td>
												</tr>
												</table>
											</div>
											<!-- *******popup box device set ***********end****** -->
										</td>
									</tr>
								</table>
								
								<div style="height:25px;line-height:25px;margin:1px;"><b>{:L("lb_form_service_setting")}</b></div>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
									<tr>
										<td width="25%">{:L("lb_form_device_set2_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set2'] eq '1')">txtbox1<else />txtbox2</if> device_set2" value="{:L('lb_form_device_set2_auto')}" id="device_set2_default" onClick="javascript:showPopupBoxCommon('2','default');$('device_set2').val(1)" />
											<input type="button" class="<if condition="($agedinfo['device_set2'] eq '1')">txtbox2<else />txtbox1</if> device_set2 margin_left50" id="device_set2_diy_setting" value="{:L('lb_form_device_set2_manual')}" onClick="javascript:showPopupBoxCommon('2','diy_setting');$('device_set2').val(0)" />
                                        <input name="device_set2" id="device_set2" type="hidden" value="1" />
                                        </td>
                                    </tr>
									<tr>
										<td width="25%">{:L("lb_form_device_set3_title")}</td>
										<td width="50%">
											<input type="button" class="<if condition="($agedinfo['device_set3']['default_flg'] eq 'Y')">txtbox1<else />txtbox2</if> device_set3" id="device_set3_default" name="device_set3_default" value="{:L('lb_form_default_setting')}" onClick="javascript:showPopupBoxCommon('3','default');" />
											<input type="button" class="<if condition="($agedinfo['device_set3']['default_flg'] eq 'Y')">txtbox2<else />txtbox1</if> device_set3 margin_left50" id="device_set3_diy_setting" name="device_set3_diy_setting" value="{:L('lb_form_diy_setting')}" onClick="javascript:showPopupBoxCommon('3','diy_setting');" />
											<!-- *******popup box device set ***********start****** -->
											<div id="device_set3_box" class="popup_box_comm" style="width:300px;display:none;">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
												<tr>
													<td class="" style="width:20px;">&nbsp;</td>
													<td class="" style="width:60px;">&nbsp;</td>
													<td class="">&nbsp;</td>
													<td class="" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_1" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_1m">----------&nbsp;</td>
													<td class="popup_box_comm_1r" style="width:20px;"><a href="javascript:void(0);" onclick="javascript:closePopupBoxCommon('3');">√&nbsp;&nbsp;</a></td>
												</tr>
												<tr>
													<td class="popup_box_comm_2" style="width:20px;">&nbsp;</td>
													<td class="popup_box_comm_2m" colspan="2">
														<div>{:L("lb_form_device_set3_day")}：<input type="text" id="device_set3_day" name="device_set3[day]" /></div>
														<input type="hidden" id="device_set3_default_flg" name="device_set3[default_flg]" value="Y" />
													</td>
													<td class="popup_box_comm_2r" style="width:20px;">&nbsp;</td>
												</tr>
												<tr>
													<td class="popup_box_comm_3" style="width:80px;" colspan="2">&nbsp;</td>
													<td class="popup_box_comm_3m">----------&nbsp;</td>
													<td class="popup_box_comm_3r" style="width:20px;">&nbsp;</td>
												</tr>
												</table>
											</div>
											<!-- *******popup box device set ***********end****** -->
										</td>
										<td width="25%">&nbsp;</td>
									</tr>
								</table>
								<div style="height:25px;line-height:25px;margin:1px;"><b>{:L("lb_form_service_fee")}</b></div>
								<div style="height:25px;line-height:25px;margin:1px;" class="btn2"><a>{:L("lb_form_service_pay")}</a></div>
				</div>
                <div id="data_edit_content_3" class="data_edit_content" style="display:none;padding-left:15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
                        <tr>
                            <td>
                            <div class="showimg" id="add_beacons_box"> <a class="add" style="height:24px; line-height:22px;" href="javascript:addBeacon();"> + </a> </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="beacons">
                            <volist id="vo" name="beacons" key="i">
							<div class="showlist" id="beacons{$i}_box">
                                <div style="float: left; padding-left:4px;">
                                    {:L("lb_form_beacom_title")}&nbsp;&nbsp;<input name="beacons[{$i}][beaconID]" type="text" id="beacons_beaconID{$i}" value="{$vo.beaconID}" size="6" maxlength="8" />
                                </div>
                                <div style="float: left; padding-left:4px;">
                                    {:L("lb_form_beacom_name")}&nbsp;&nbsp;<input name="beacons[{$i}][name]" type="text" value="{$vo.name}" id="beacons_name{$i}" size="8" />
                                </div>
                                <div style="float: left; padding-left:4px;">
                                   {:L("lb_form_beacom_address")}&nbsp;&nbsp;
                                  <input type="text" id="beacons_address{$i}" name="beacons[{$i}][address]" style="vertical-align:middle;" value="{$vo.address}" size="15" />
                                  <img src="__PUBLIC__/images/location_icon.png" style="vertical-align:middle;" onclick="getPoint({$i})" width="20" alt="" />
                                </div>
                                <div style="float: left; padding-left:4px;">
                                   {:L("lb_form_beacom_lat")}&nbsp;&nbsp;
                                  <input type="text" id="beacons_lat{$i}" name="beacons[{$i}][lat]" size="6" readonly="readonly" value="{$vo.lat}" />
                                </div>
                                <div style="float: left; padding-left:4px; vertical-align:middle;">
                                   {:L("lb_form_beacom_lon")}&nbsp;&nbsp;
                                  <input type="text" id="beacons_lon{$i}" name="beacons[{$i}][lon]" size="6" readonly="readonly" value="{$vo.lon}" />
                                </div>
                              <div style="float: right; width:60px;">
                                    <a class="add" style="height:20px;font-size: 12px;font-weight:200;line-height:20px;" href="javascript:delBeacon('beacons{$i}');">{:L("lb_form_beacom_btn")}</a>
                                </div>
                            </div>
                            </volist>
                            </td>
                        </tr>
                    </table>
				</div>
			</div>
			<div class="data_edit_box_3">
				<div class="data_edit_box_enter"><a href="javascript:void(0);" onclick="javascript:closePopupBox();">{:L("lb_btn_enter")}</a></div>
				<div class="data_edit_box_cancel"><a href="javascript:void(0);" onclick="javascript:closePopupBox();">{:L("lb_btn_cancel")}</a></div>
			</div>
		</div>
	</div>
    <div id="map_box">
   <div style="height:35px;line-height:35px;">
		<div id="float_search_bar"><label>拖动标记可以调整位置</label><button onclick="return $('#map_box').hide(),false;">X</button></div>
   </div>
   <div id="preview">
    <div id="map_container"></div>
    <div id="result" style="margin-top: 13px;">
    	经纬度:<input id="map" name="map" type="text" value="">

        <input type="button" value="OK" onclick="setMap()">
    </div>
	</div>
    </div>
</div>
</form>
    <script type="text/javascript">
		var map = new BMap.Map("map_container");
        map.enableScrollWheelZoom();
		map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件钮

        var marker = new BMap.Marker(new BMap.Point());
        marker.enableDragging();

		var adds_num=0;
    	//地址转换
        var local = new BMap.LocalSearch(map, {
            renderOptions:{map: map},
			pageCapacity: 1
        });
        local.setSearchCompleteCallback(function(results){
            if(local.getStatus() !== BMAP_STATUS_SUCCESS){
                alert("无结果");
            } else {
			    marker.hide();
			}
        });
        local.setMarkersSetCallback(function(pois){
            for(var i=pois.length; i--; ){
                var marker = pois[i].marker;
				marker.enableDragging();
				pos = marker.getPosition();
                //setResult();
				$("#map").val(pos.lng + ", " + pos.lat);
                marker.addEventListener("mouseup", function(e){
                    pos = this.getPosition();
                    //setResult();
					$("#map").val(pos.lng + ", " + pos.lat);
                });
            }
        });
        function setResult(){
			BMap.Convertor.translate(pos,0,function (point){
				var lng = 2*pos.lng-point.lng;
				var lat = 2*pos.lat-point.lat;
				pos = new BMap.Point(lng, lat);
				$("#map").val(pos.lng + ", " + pos.lat);
			});
        }
		function setMap(){
			$('#beacons_lat'+adds_num).val(pos.lat);
			$('#beacons_lon'+adds_num).val(pos.lng);
			return $('#map_box').hide(),false;
		}
		function getPoint(i){
        	if($("#beacons_address"+i).val().length<=0) return;
			adds_num = i;
			$('#map_box').show();
			local.search($("#beacons_address"+i).val());
		}
   </script>

</body>
</html>
