<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{:L('common_web_title')}</title>
	<link href="css/base.css" rel="stylesheet" type="text/css" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/jscript/lan/cn.js"></script>
	<script type="text/javascript" src="/jscript/jquery.js"></script>
	<script type="text/javascript" src="/jscript/common.js"></script>
	<script type="text/javascript" src="/jscript/admin/objs.js"></script>
    {file}
    {$TPL_SCRIPT}
    <script type="text/javascript">
    document.domain="anycare-kr.com";
	if (top.location == self.location) top.location.href = '/welcome~index.html';
	TPL_SRC = '{$TPL_SRC_VIEW}';
    $(document).ready(function(e) {
        {$TPL_EVENT}
		var str=[];
		str.push('当前位置：<a href="javascript:void(0);" >首页</a> 》');
		if(!$('#'+parent.bread.name).empty())str.push('<a href="javascript:void(0);">'+parent.bread.name+'</a> 》');
		str.push('<a href="javascript:void(0);" class="cBlue">'+parent.bread.title+'</a>');
        str.push('<div class="editBar" style="position:absolute; right:0; bottom:-5px;">');
		str.push('<a href="javascript:void(0);" title="返回" onclick="Result();" class="iBack">返回</a>');
		str.push('<a href="javascript:void(0);" title="刷新" onclick="Refresh();" class="iRefresh">刷新</a></div>');
		$('#bread').html(str.join(""));
    });
    </script>

</head>
<body>
	<div id="wrap" class="videoList">
            <div class="crumbs mb5" id="bread" style="position:relative;"></div>
